.searchPanel {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;

  color: #444;
  background-color: whitesmoke;

  .searchBar {
    height: 30px;
    background-color: aquamarine;
  }

  input {
    color: red;
  }
}