.resultContent {
  .word, .pron {
    font-family: serif;
  }

  .title {
    margin: 5px;
  }

  .word {
    font-size: 35px;
    margin: 5px;
  }

  .accent {
    font-size: 5px;
    vertical-align: 3px;
  }

  .excerpt {
    display: none;
  }

  .type {
    margin-left: 10px;
    border-bottom: 3px solid lightblue;
  }

  .detail {
    position: relative;

    .meaning {
      margin-bottom: 0;
      border-left: 3px solid burlywood;
      padding-left: 5px;
      padding-right: 17px;
    }

    .add-button {
      position: absolute;
      right: 0;
      white-space: nowrap;
      padding-left: 5px;
      top: 3px;
      line-height: 21px;
      height: 22px;
      width: 12px;
      color: white;
      font-weight: normal;
      font-size: 13px;
      background-color: cadetblue;
      transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        width: 95px;
      }
    }

    .examples {
      padding-left: 12px;
    }

    .example {
      .translate {
        color: lightseagreen;
      }
    }
  }
}